@page "/"

<PageTitle>GPU Scraper by Jacek Fedorowicz</PageTitle>

<h3 class="index-header">
    <p class="greeting"> GPU Scraper </p>
</h3>

<div class="about-project">
    <h4>O projekcie</h4>
    <p>
        Projekt powstał w ramach nauki programowania w języku <span>C#</span>  oraz frameworku <span>ASP.NET</span> w oparciu o model <span>MVC</span>. Aplikacja pozwala na pobranie cen kart graficznych z dwóch popularnych polskich sklepów internetowych jakimi są
        <a href="https://www.x-kom.pl" target="_blank">X-Kom</a> oraz <a href="https://www.morele.net" target="_blank">Morele</a>.
    </p>
    <p>
        Aplikacja w oparciu o zewnętrzną bibliotekę <span>HtmlAgilityPack</span> przeszukuje wyżej wymienione sklepy internetowe w celu znalezienia konkretnych produktów a następnie pobiera o nich najważniejsze informacji takie jak nazwa produktu, cena czy zdjęcie.
    </p>
    <p>
        Jeżeli dany produkt jest dostępny w obu sklepach, następuje następnie porównanie ceny danego produktu a następnie przypisanie tych cen, jednocześnie zapisując informację o tym, który ze sklepów oferuje niższą cenę za daną kartę graficzną. Na podstawie pobranych informacji zostają utworzone encje bazodanowe, które zostają zapisane do bazy danych <span>SQL</span> aplikacji.
    </p>
    <p>
        Użytkownik poprzez wywołanie odpowiedniego endpointa może wyświetlić zawarte w bazie danych karty czy też zaktualizować ceny kart graficznych, które są już w bazie danych. Aplikacja przewiduje także filtrowanie, sortowanie oraz paginację wyników zapytania.
    </p>
    <p>
        Użytkownik może także wyeksportować dane zawarte w bazie danych, które zostaną odpowiednio zserializowane do pliku <span>JSON</span>. Endpoint odpowiadający za tę funkcjonalność mogą wywołać wyłącznie zalogowani użytkownicy, który są autoryzowani na podstawie wartości claima tokenu <span>JWT</span>.
    </p>
    <p>
        Sam widok aplikacji został wykonany w <span>BlazorWebAssembly</span> na podstawie domyślnie udostępnionego widoku, który został poddany pewnym modyfikacjom.
    </p>
    <p>
        Szczegółowa dokumentacja projektu znajduje się w repozytorium udostępnionym na <span>GitHubie</span>.
    </p>
</div>
