.index-header {
}

.greeting {
    padding-bottom: 20px;
    font-size: 36px;
    text-align: center;
    border-bottom: 1px solid black;
}

h4{
    padding: 2px 0px;
    font-size: 24px;
    font-weight:bold;
}

.about-project {
    margin: 10px 0px;
    text-align: justify;
    text-justify: inter-word;
    border-bottom: 1px solid #808080;
}

    .about-project a {
        color: cornflowerblue;
        text-decoration: none;
        font-weight:bold;
        cursor: pointer;

        transition: 0.3s;
    }

    .about-project a:hover {
        color: orange;
    }

span {
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 20px;
}
