@page "/api/scraper"
@inherits ScraperBase

<PageTitle>GPUScraper | Karty graficzne</PageTitle>

@*<main>
    <h3 class="mainTitle">Karty graficzne</h3>

    @if (IsCrawled == false)
    {
       <div class="">
            <h4>
                Aby przeglądać ceny kart graficznych w pierwszej kolejności należy scrawlować dane ze stron internetowych.
            </h4>
            <button class="btn-crawl" onclick="CrawlGPUs">Pobierz karty graficzne</button>
        </div> 
    }
    else
    {
       <h4 class="graphicsCards"></h4>



    }
</main>*@


