* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main
{
    position: relative;

}

.mainTitle
{
    padding: 10px 20px;
    display: block;
    position: relative;

    color:red;

}

.btn-crawl
{

}
.btn-crawl:hover 
{

}


/*position
top/left/bottom/right
display

margin
padding
width
height

font-size
line-height

color
bgc
border

transition
cursor
*/