* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main
{
    position: relative;

}

.scraper-header {
    display: block;
    padding: 40px 40px;
    text-align: center;
    color: black;
}

.scraper-header > span{
    color: red;
}

.btn-crawl {
    position: fixed;
    display: block;
    top: 50vh;
    left: 50vw;
    width: 125px;
    height: 50px;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    font-size: 22px;
    background-color: gray;
    border: none;
    transition: 0.4s ease-in;
}
    .btn-crawl:hover {
        color: white;
        background-color: #3a0647;
    }


/*position
top/left/bottom/right
display

margin
padding
width
height

font-size
line-height

color
bgc
border

transition
cursor
*/