@page "/api/scraper"
@inherits ScraperBase

<PageTitle>GPUScraper | Karty graficzne</PageTitle>

@if(_isCrawled == false)
{
    <h3 class="scraper-header">Aby pobrać ceny kart graficznych z bazy danych w pierwszej kolejności <span>należy</span> zescrawlować dane ze sklepów internetowych!</h3>
    <button type="button" class="btn-crawl">
        Scrawluj!
    </button>
}
else
{

}