.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

article{
    padding: 1rem;
}

nav {
    max-height: 13%;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


footer {
    display: block;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: #3a0647;
}

.footer-author{
    color:white;
    font-size: 10px;
}

.social-link{
    color: white;
    transition: 0.5s ease;
}


.social-link:hover {
    color: orange;
}
