nav{
    position:relative;
    height: 10%;
    min-height: 100px;
}

.top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.oi {
    width: 1.5rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.navbar-brand {
    position: absolute;
    display: block;
    top: 0px;
    left: 20px;
    margin: 10px 20px;
    font-size: 1.5rem;
    color: white;
    z-index:1;
    transition: 0.7s;
}

.navbar-brand:hover {
    color: orange;
    transform: rotate(-10deg);
}

.navigation-toggler {
    position: absolute;
    display: none;
    top: 15px;
    right: 10px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.navigation-bar {
    position:relative;
    display: flex;
}

.navigation-links {
    display: flex;
    position:relative;
    margin-right: 1rem;
    padding-top: 20px;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
}

.menu-link {
    display: inline-block;
    height: 30%;
    font-size: 20px;
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
    transition: 0.4s ease;
}

    .menu-link:hover {
        color: orange;
        box-shadow: 0px 1.5px 0px white;
    }

@media (max-width:720px) {

    .navigation-links {
        display: none;
    }
}
